<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>New contact <%= @contact.nombre %></h1>
    <p>
      Sample mail sent using smtp.
    </p>
    <p><%= @contact.tel %></p>
    <p><%= @contact.email %></p>
    <p><%= @contact.address %></p>
    <p><%= @contact.body %></p>
  </body>
</html>